<p>Vous venez de recevoir un nouveau message via le formulaire de contact.</p>

<p>Nom : {{ name }}</p>
<p>Email : {{ email }}</p>
<p>Titre du message : {{ subject }}</p>
<p>Message : <br> {{ message }}</p>
