/*============================== 
    Dicorion
================================*/
.Dicorion-style .card {
  background: transparent;
  box-shadow: none;
  margin-top: 0 !important;
  border: none; }
.Dicorion-style .card-header {
  border: 0px;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: none; }
.Dicorion-style .btn-link {
  background: #ededed !important;
  color: #232323;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  white-space: normal;
  padding: 15px 30px 15px 15px; }
  .Dicorion-style .btn-link:hover {
    background: #ededed !important;
    border: none;
    text-decoration: none; }
  .Dicorion-style .btn-link.collapsed:after {
    background: none;
    content: "+";
    right: 15px;
    left: inherit;
    font-size: 20px;
    height: auto;
    transform: none;
    width: auto;
    top: 15px; }
  .Dicorion-style .btn-link:after {
    background: none;
    content: "-";
    right: 17px;
    left: inherit;
    font-size: 20px;
    height: auto;
    transform: none;
    width: auto;
    top: 15px;
    position: absolute;
    color: #3C7CDD; }
.Dicorion-style .card-body {
  padding: 20px;
  line-height: 24px;
  text-align: left; }



.bio {
  background-color: #eee!important;
}

.table_year {
  width: 80px;
  text-align: center;
  font-weight: bold;  
}

td {
  font-size:12px;
}
