{% extends "::base.html.twig" %}

{% block title %}
    Boutique - {{ parent() }}
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/shop.css') }}"/>

    {{ render(controller(
        'SW\\PlatformBundle\\Controller\\PlatformController::bannerAction'
    )) }}

    <div class="row" style="background-color:#eee;">
        <div class="col-12 center-col  margin-20px-top  text-center wow fadeInUp">
            <div class="alt-font margin-5px-bottom text-uppercase text-small letter-spacing-1" style="color:#3C7CDD;">Boutique</div>
            <h5 class="margin-10px-bottom font-weight-300">La boutique officielle</h5>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
    </div>
    
    <!--  Start Catalog Section -->
    <section class="blogs">
        <div class="container">
            <div class="row">
                <div class="isotope-grid col-12">
                    <div class="posts center-block" style="display:flex;flex-wrap:wrap;padding-left:15px;">
                        {% for product in products %}
                            {% include 'SWEcommerceBundle:Catalog:_product_grid.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End Catalog Section -->
{% endblock %}